@media (min-width: 768px) {
    h1 {
        font-size: 13px;
        letter-spacing: 4.09px;
    }
    
    p {
        font-size: 28px;
        letter-spacing: -0.3px;
    }
    .main {
        .box{
            &__pattern{
                background: url('../images/pattern-divider-desktop.svg') center/contain no-repeat;
            }
        }
    }
}